#Server
PORT=3000
NODE_ENV=development

#Database
MONGODB_URI=mongodb://localhost:27017/eCommerce

#Auth
JWT_SECRET=your_secret_key_here

#InPost
INPOST_API_TOKEN=your_inpost_token_here
INPOST_POINTS_API_URL=https://sandbox-api-pl-points.easypack24.net